version: "3.9"

services:
  postgres:
    image: postgres:14
    container_name: industrix_postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: industrix_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build: ./backend
    container_name: industrix_backend
    restart: always
    working_dir: /app
    ports:
      - "4000:4000"
    environment:
      DB_URL: postgres://postgres:postgres@postgres:5432/industrix_db
    depends_on:
      - postgres
    volumes:
      - ./backend:/app

  frontend:
    build: ./frontend
    container_name: industrix_frontend
    restart: always
    working_dir: /app
    ports:
      - "5173:5173"
    depends_on:
      - backend
    volumes:
      - ./frontend:/app

volumes:
  postgres_data:
